* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, 'Ubuntu Mono';
    font-size: 14px ;
    background-color: #E0E0E0;
}

p {
    padding: 10px 20px;
}

input {
    padding: 2px;
}

ul.hr {
    margin: 0;
    padding: 4px;
}
ul.hr li {
    display: inline;
    margin-right: 5px;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 32px;
    padding: 5px 55px;
}

ul.hr li a, ul.hr li a:hover, ul.hr li a:active, ul.hr li a:focus {
    text-decoration: none;
}

ul.hr li a, ul.hr li a:hover, ul.hr li a:active, ul.hr li a:focus, nav, footer {
    color: #fff;
}

header {
    background-color: #E2E2E2;
}
nav, footer {
    background-color: #5967CF;
}
nav, footer {
   padding: 8px 10px;
}

#container {
    width:900px;
    margin: 0 auto;
    position:relative;
}

#slides {
    position:relative;
}

#slides .slidesContainer {
    margin-left:-8px;
}

.login-register {
    float: right;
    display: inline;
    position: relative;
    bottom: 16px;
    right: 20px;
}

article {
    padding: 10px;
}

.zag {
    font-size: 17px;
}
.zag, .result {
    font-weight: 800;
}
a#register, a#login {
    color:#000;
}

#avatar {
    max-width: 300px;
}

#game-pole {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    border-collapse: collapse;
}

#game-pole td{
    width: 94px;
    height: 94px;
    padding: 0;
    text-align: center;
}

#field {
    width: 500px;
    background: url(/public/images/bord.png) no-repeat;
    border-radius: 20px;
}


#field img, button{
    padding: 2px;
}

#field, .result {
    margin: 0 auto;
    position: relative;
}
.result {
    width: 116px;
    padding-top: 11px;
    font-size: 16px;
    font-weight: 800;
}

.right {
    float:right;
}

footer {
    height: 30px;
}

.home {
    background: url(/public/images/home.png) no-repeat;
}

#leftColumn,  #avatar, #field, #rightColumn {
    float:left;
}

.log {
    height: 100px;
}

#rightColumn {
    width: 31%;
}

#leftColumn {
    width: 68%;
    margin-right: 10px;
}

.log, .cod {
    min-width: 100%;
}
#field {
    margin-bottom: 15px;
}

.cod {
    height: 550px;
}