* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace, 'Ubuntu Mono';
    font-size: 16px ;
    background-color: #3c3f41;
}

p {
    padding: 10px 20px;
}

input {
    padding: 2px;
}

ul.hr {
    margin: 0;
    padding: 4px;
}
ul.hr li {
    display: inline;
    margin-right: 5px;
        text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 20px;
    padding: 5px 55px;
}

ul.hr li a, ul.hr li a:hover, ul.hr li a:active, ul.hr li a:focus, .show-hide{
    text-decoration: none;
}
ul.hr li a:hover, ul.hr li a:active, ul.hr li a:focus, nav, footer {
    color: #fff;
}

header {
    background-color: #E2E2E2;
}
nav, footer {
    background-color: #3c3f41;
    padding: 8px 10px;
    border-bottom: 2px GROOVE #cccccc;
    border-top: 2px GROOVE #cccccc;
}

#container {
    width:900px;
    margin: 0 auto;
    position:relative;
}

#slides {
    position:relative;
}

#slides .slidesContainer {
    margin-left:-8px;
}

.login-register {
    float: right;
    display: inline;
    position: relative;
    bottom: 16px;
    right: 20px;
}

article {
    padding: 10px;
    background: #3c3f41;
}
ul.hr li a, .show-hide {
    color: #599eff;
}

.zag {
    font-size: 17px;
}
.zag {
    font-weight: 800;
}
a#register, a#login {
    color:#000;
}

#avatar {
    max-width: 300px;
}

#game-pole {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    border-collapse: collapse;
}

#game-pole td{
    width: 94px;
    height: 94px;
    padding: 0;
    text-align: center;
}

#field {
    width: 500px;
    background: url(/public/images/bord.png) no-repeat;
    border-radius: 20px;
}


#field img, button{
    padding: 2px;
}

.right {
    float:right;
}

footer {
    height: 30px;
    color: #ff9e59;
}

.home {
    background: url(/public/images/home.png) no-repeat;
}

#simplemodal-container a.modalCloseImg {
    background:url(/img/x.png) no-repeat; /* adjust url as required */
    width:25px;
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-15px;
    right:-18px;
    cursor:pointer;
}

input[type=radio] {
    display: none;
}

.left, #field, #leftColumn, #rightColumn {
    float:left;
}

#leftColumn {
    width: 76%;
}
#rightColumn {
    width: 24%;
}

#cod {
    padding-right: 25px;
}

#gameLog {
    width: 98%;
}

.show-hide {
    float: right;
    margin-top: -38px;
    font-size: 14px;
}
.text {
    color: #EBEFE7;
}

input[type=radio] + label {
    background: #85858c;
    width: 85%;
    display: inline-block;
    margin: -2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #aaa;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type=radio]:checked + label {
    background: #626266;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
}

#play-button {
    left: 77px;
    position: relative;
    background-image: radial-gradient(#006308, #2AF74B);
    border: none;
    border-radius: 4px;
    width: 192px;
    height: 36px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: -11px 0px 3px 0px;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.modal-window {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    overflow-y: scroll;
    z-index: 9999;
}
.window-container {
    background: #ffffff;
    display: block;
    margin: 10% auto;
    padding: 20px;
    width: 500px;
    z-index: 9999;
    opacity: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.animation {
    -webkit-transform:  scale(0.5);
    -moz-transform:  scale(0.5);
    -ms-transform:  scale(0.5);
    transform:  scale(0.5);
}
.visible {
    opacity: 1;
    -webkit-transform:  scale(1);
    -moz-transform:  scale(1);
    -ms-transform:  scale(1);
    transform:  scale(1);
}
.close {
    display: block;
    cursor: pointer
    float: right;
    margin-bottom: 10px;
}