#{extends 'main.html' /}
#{set title:'Home' /}

<script>
    $(function () {
                var socket = new WebSocket("ws://localhost:9000/games/ticTacToe");

                socket.onmessage = function (event) {
                    var incomingMessage = event.data;
                    showMessage(incomingMessage);
                };

                socket.send('${firstId}');
                socket.send('${secondId}');

                function showMessage(message) {
                    var object = JSON.parse(message);
                    var field = object.field;
                    var table = $("#game-pole")[0];
                    for (var i = 0; i < field.length; i++) {
                        for (var j = 0; j < field[i].length; j++) {
                            var symbol = field[i][j] == '-' ? ' ' : field[i][j];
                            console.log(field[i][j]);
                            table.rows[i].cells[j].innerHTML = symbol;
                        }
                    }
                }
            }
    );

</script>

<div id="field">
    <table id="game-pole">
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>