<!DOCTYPE html>

<html>
<head>
    <title>HelloBot</title>
    <meta charset="${_response_encoding}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    <!--#{get 'moreStyles' /}-->
    <link rel="shortcut icon" type="image/ico" href="@{'/public/images/favicon.ico'}">
    <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/jquery.slides.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/app.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <audio preload="true" id="game-over">
        <source src="@{'/public/audio/game-over.mp3'}"/>
    </audio>
    <audio preload="true" id="xo1">
        <source src="@{'/public/audio/xo1.mp3'}"/>
    </audio>
    <audio preload="true" id="xo2">
        <source src="@{'/public/audio/xo2.mp3'}"/>
    </audio>
    <audio preload="true" id="xo3">
        <source src="@{'/public/audio/xo3.mp3'}"/>
    </audio>
    <audio preload="true" id="xo4">
        <source src="@{'/public/audio/xo4.mp3'}"/>
    </audio>

    <audio preload="true" id="terminator-game-over">
        <source src="@{'/public/audio/terminator0.mp3'}"/>
    </audio>
    <audio preload="true" id="terminator1">
        <source src="@{'/public/audio/terminator1.mp3'}"/>
    </audio>
    <audio preload="true" id="terminator2">
        <source src="@{'/public/audio/terminator2.mp3'}"/>
    </audio>

    <audio preload="true" id="loser-game-over">
        <source src="@{'/public/audio/loser0.mp3'}"/>
    </audio>
    <audio preload="true" id="loser1">
        <source src="@{'/public/audio/loser1.mp3'}"/>
    </audio>

    <audio preload="true" id="back-sound">
        <source src="@{'/public/audio/back-sound.mp3'}"/>
    </audio>
    <script src="@{'/public/javascripts/codemirror/codemirror.js'}" type="text/javascript"></script>
    <link rel="stylesheet" href="@{'/public/stylesheets/codemirror.css'}">
    <script src="@{'/public/javascripts/codemirror/javascript.js'}" type="text/javascript"></script>
    <script src="@{'/public/javascripts/jquery.simplemodal-1.1.1.js'}" type="text/javascript"></script>
#{get 'moreScripts' /}
</head>
<body>
<div id="wrapper">
    <header>
        <div id="container">
            <div id="slides" class="display:show">
                <img src="/public/images/slider/slide_1.png" width="900" height="480" alt="Slide 1">
                <img src="/public/images/slider/slide_2.png" width="900" height="480" alt="Slide 2">
                <img src="/public/images/slider/slide_3.png" width="900" height="480" alt="Slide 3">
                <img src="/public/images/slider/slide_4.png" width="900" height="480" alt="Slide 4">
                <img src="/public/images/slider/slide_5.png" width="900" height="480" alt="Slide 5">
                <img src="/public/images/slider/slide_6.png" width="900" height="480" alt="Slide 6">
            </div>
        </div>
        <div class="login-register">*{<a href="@{Application.login()}" id="login">Вход</a>/<a id="register" href="@{Application.registration()}">регистрация</a>}*
        </div>
    </header>
    <nav>
        <ul class="hr">
            <li><a href="@{Application.index()}" id="index">Main</a></li>
            <li><a href="@{Upload.addBotForm()}" id="create_bot">Create bot</a></li>
            <li><a href="@{Application.translation()}" id="translation">Translation</a></li>
            <li><a href="@{Application.faq()}" id="faq">FAQ</a></li>
        </ul>
        <a href="#" class="show-hide">Show/hide</a>
    </nav>
    <article>#{doLayout /}</article>
    <footer>
        <div class="blockGit"><a href="https://github.com/RockJam/hellobot" target="_blank"><img src="/public/images/git_hub.png" class="git-hub"/></a></div>
        <div class="right copy">©&nbsp;Разработано на HackDay#32</div>
    </footer>
</div>

<div id="modal-window" class="modal-window">
    <div class="window-container animation">
        <p class="result"></p>
        <button class="close">OK</button>
    </div>
</div>
</body>
</html>